# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Signing & provisioning (NEVER commit ces fichiers)
*.p12
*.p8
*.cer
*.mobileprovision
*.provisionprofile

# SPM
.build/
*.resolved           # à décommenter si tu n'utilises pas de dépendances lockées

# CocoaPods (si tu en utilises un jour)
Pods/

# Fastlane secrets
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab
*.ap_

# Android Studio / IntelliJ
android/.idea/
android/**/*.iml
